[submodule "ThirdParty/miniz"]
	path = ThirdParty/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "ThirdParty/webdriverxx"]
	path = ThirdParty/webdriverxx
	url = https://github.com/sswroom/webdriverxx.git
